<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>{% block title %}Welcome!{% endblock %}</title>

	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/main.css') }}">
	{% block css %}{% endblock %}
</head>
<body>
<header>
	<div class="container">
		<a class="btn btn-warning btn-lg" href="#">Gallery home</a>
	</div>
</header>
{% block body %}{% endblock %}
{% block js %}{% endblock %}
</body>
</html>
