{% extends 'layout.twig' %}

{% block body %}
	<div class="container">
		<div id="app">
			<div class="alert alert-info">Loading...</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script src="{{ asset('js/app.js') }}"></script>
{% endblock %}