<div class="page-header"><h1>Gallery list</h1></div>
<table class="table">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Image count</th>
	</tr>
	{% for album in albums %}
	<tr>
		<td>{{ album['id'] }}</td>
		<td><a href="#album/{{ album['id'] }}">{{ album['title'] }}</a></td>
		<td>{{ album['imageCount'] }} images</td>
	</tr>
	{% endfor %}
</table>