<div class="page-header"><h1>{{ images[0]['albumTitle'] }}</h1></div>
<div class="row">
	{% for image in images %}
	<div class="col-sm-3">
		<h3>{{ image['title'] }}</h3>
		<img class="mw-100" src="{{ image['filename'] }}" alt="{{ image['title'] }}">
	</div>
	{% if (loop.index % 4 == 0) %}
</div>
<div class="row">
	{% endif %}
	{% endfor %}
</div>

{{ knp_pagination_render(images) }}