.nobr {
  white-space: nowrap;
}

.mw-100 {
  max-width: 100%;
  display: block;
}

.pre-y-1 {
  padding-top: 1em;
}
@media screen and (max-width: 480px) {
  .pre-y-1 {
    padding-top: 0.5em;
  }
}

.post-y-1 {
  padding-bottom: 1em;
}
@media screen and (max-width: 480px) {
  .post-y-1 {
    padding-bottom: 0.5em;
  }
}

.pre-y-2 {
  padding-top: 2em;
}
@media screen and (max-width: 480px) {
  .pre-y-2 {
    padding-top: 1em;
  }
}

.post-y-2 {
  padding-bottom: 2em;
}
@media screen and (max-width: 480px) {
  .post-y-2 {
    padding-bottom: 1em;
  }
}

.pre-y-3 {
  padding-top: 3em;
}
@media screen and (max-width: 480px) {
  .pre-y-3 {
    padding-top: 1.5em;
  }
}

.post-y-3 {
  padding-bottom: 3em;
}
@media screen and (max-width: 480px) {
  .post-y-3 {
    padding-bottom: 1.5em;
  }
}

.pre-y-4 {
  padding-top: 4em;
}
@media screen and (max-width: 480px) {
  .pre-y-4 {
    padding-top: 2em;
  }
}

.post-y-4 {
  padding-bottom: 4em;
}
@media screen and (max-width: 480px) {
  .post-y-4 {
    padding-bottom: 2em;
  }
}

.fs-13 {
  font-size: 13px;
  line-height: 1.6em;
}

.fs-17 {
  font-size: 17px;
  line-height: 1.6em;
}

.fs-20 {
  font-size: 20px;
  line-height: 1.6em;
}

.fs-24 {
  font-size: 24px;
  line-height: 1.6em;
}

.ttu {
  text-transform: uppercase;
}

.fsi {
  font-style: italic;
}

header {
  padding: 15px 0;
}

.pagination {
  margin-top: 50px;
}

/*# sourceMappingURL=main.css.map */
