// media dimensions
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// mixins
@mixin after() {
	&:after {
		content: "";
		display: block;
		@content;
	}
}

@mixin before() {
	&:before {
		content: "";
		display: block;
		@content;
	}
}

@mixin size($w, $h) {
	width: $w;
	height: $h;
}

@mixin image-block($img) {
	background-image: image-url($img);
	@include size(image-width($img), image-height($img));
}

@mixin text-outline($color, $shift) {
	text-shadow: (-$shift) (-$shift) 0 $color,
		($shift) (-$shift) 0 $color,
	-$shift $shift 0 $color,
	$shift $shift 0 $color;
}

@mixin background-size($args) {
	background-size: $args;
	-webkit-background-size: $args;
}

%resetList {
	padding-left: 0;
	margin-bottom: 0;

	li {
		list-style: none;
	}
}

@mixin media($max-width, $min-width: 0) {
	@if $min-width > 0 {
		@if $max-width > 0 {
			@media screen and (min-width: $min-width) and (max-width: $max-width) {
				@content;
			}
		} @else {
			@media screen and (min-width: $min-width) {
				@content;
			}
		}
	} @else {
		@media screen and (max-width: $max-width) {
			@content;
		}
	}
}

@mixin media-vertical($max-height, $min-height: 0) {
	@if $min-height > 0 {
		@if $max-height > 0 {
			@media screen and (min-height: $min-height) and (max-height: $max-height) {
				@content;
			}
		} @else {
			@media screen and (min-height: $min-height) {
				@content;
			}
		}
	} @else {
		@media screen and (max-height: $max-height) {
			@content;
		}
	}
}

@function ptToPx($pt) {
	//@return round($pt / 1.25) + px;
	@return $pt + px;
}

$link-color: #0068AB;
@mixin link($color: $link-color, $hover-color: $color, $underline-color: desaturate(lighten($color, 35%), 50%), $underline-hover-color: desaturate(lighten($color, 15%), 50%)) {
	color: $color;
	text-decoration: none;
	border-bottom: 1px solid $underline-color;

	&:hover, &:focus {
		color: $hover-color;
		text-decoration: none;
		border-bottom-color: $underline-hover-color;
	}
}

.nobr {
	white-space: nowrap;
}

.mw-100 {
	max-width: 100%;
	display: block;
}

@each $em in 1, 2, 3, 4 {
	.pre-y-#{$em} {
		padding-top: #{$em}em;

		@include media($xs) {
			padding-top: #{($em / 2)}em;
		}
	}

	.post-y-#{$em} {
		padding-bottom: #{$em}em;

		@include media($xs) {
			padding-bottom: #{($em / 2)}em;
		}
	}
}

@each $px in 13, 17, 20, 24 {
	.fs-#{$px} {
		font-size: #{$px}px;
		line-height: 1.6em;
	}
}

.ttu {
	text-transform: uppercase;
}

.fsi {
	font-style: italic;
}

@mixin pa($left: 0, $top: 0) {
	position: absolute;
	left: $left;
	top: $top;
}