// required libs
@import "compass"; // do not import compass because there is a gulp plugin. To compile sass use 'gulp sass' from project root
@import "mixins";

header {
	padding: 15px 0;
}

.pagination {
	margin-top: 50px;
}